.nav {
  &__bar {
    width: 100vw;
    height: 6rem;
    background-color: #555;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    flex-basis: 120rem;
    padding: 0 1rem;
    display: flex;
  }

  &__logo,
  &__item-list,
  &__logout {
    display: flex;
    align-items: center;
  }

  &__logo {
    flex: 1 1 0;


    & > a {
      height:2rem;
      line-height: 1;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
    }
  }

  &__item-list {
    flex: 2 1 0;

    justify-content: space-around;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: #fff;
    transition: all .2s;

    &:hover{
        color:#ffffff95
    }

    &--active{
        border-bottom: 1px solid #fff;
        &:hover{
            color:#fff !important;
        }
    }
  }

  &__logout {
    flex: 1 1 0;

    display: flex;
    justify-content: flex-end;
  }

  &__logout-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.6rem;
    color: #fff;
    font-weight: bold;

    display: flex;
    align-items: center;

    transition: all .2s;

    &:hover{
        color:#ffffff95
    }
  }
}

