{% extends 'base/nav.html' %}
{% load static %}

{% block content %}

    <main>
      <div class="edit__view">
        <div class="edit__heading">
          <h3>Administration</h3>
          <h3>Story Manager</h3>
        </div>
        <div class="edit__training-container">
          <div class="edit__training-group">
            Training Group 1
          </div>
          <ul class="edit__training-names">
            <li class="edit__training-name">
              <input type="checkbox" name="some" id="#1" />
              <label for="#1">
                <svg>
                  <use
                    xlink:href="/static/images/icons.svg#icon-checkmark"
                  />
                </svg>
              </label>
              <span>
                nvjkwnwnkwjn
              </span>
            </li>
            <li class="edit__training-name">
              <input type="checkbox" name="some" id="#2" />
              <label for="#2">
                <svg>
                  <use
                    xlink:href="/static/images/icons.svg#icon-checkmark"
                  />
                </svg>
              </label>
              <span>
                nvjkwnwnkwjn
              </span>
            </li>
            <li class="edit__training-name">
              <input type="checkbox" name="some" id="#3" />
              <label for="#3">
                <svg>
                  <use
                    xlink:href="/static/images/icons.svg#icon-checkmark"
                  />
                </svg>
              </label>
              <span>
                nvjkwnwnkwjn
              </span>
            </li>
          </ul>
        </div>
        <div class="edit__training-container">
          <div class="edit__training-group">
            Training Group 1
          </div>
          <ul class="edit__training-names">
            <li class="edit__training-name">
              <input type="checkbox" name="some" id="#4" />
              <label for="#4">
                <svg>
                  <use
                    xlink:href="/static/images/icons.svg#icon-checkmark"
                  />
                </svg>
              </label>
              <span>
                nvjkwnwnkwjn
              </span>
            </li>
            <li class="edit__training-name">
              <input type="checkbox" name="some" id="#5" />
              <label for="#5">
                <svg>
                  <use
                    xlink:href="/static/images/icons.svg#icon-checkmark"
                  />
                </svg>
              </label>
              <span>
                nvjkwnwnkwjn
              </span>
            </li>
          </ul>
        </div>

        <button class="btn btn--blue btn--md edit__btn" type="submit">
          Save
        </button>
      </div>
    </main>

{% endblock content %}