{% extends 'base/nav.html' %}
{% load static %}

{% block content %}
<main>
    <div class="main-page__table-box">
        <ul class="main-page__header">
     
            <li class="main-page__header-item">Department</li>
            <li class="main-page__header-item">Position</li>
            {% for group in groups %}
            <li class="main-page__header-item">{{group.title}}</li>

            {% endfor %}
        </ul>
        <ul class="main-page__list">
            <li class="main-page__item">
                <a class="main-page__item-edit" href="edit-training.html">
                    <svg>
                        <use xlink:href="/static/images/icons.svg#icon-pencil" />
                    </svg>
                </a>

                <ul class="main-page__info-list">
                    <li class="main-page__info-item">
                        Administrator
                    </li>
                    <li class="main-page__info-item">
                        Store manager
                    </li>
                    <li class="main-page__info-item">
                        <select>
                            <option value="#">Training</option>
                        </select>
                    </li>
                    <li class="main-page__info-item">
                        <select>
                            <option value="#">Training</option>
                        </select>
                    </li>
                    <li class="main-page__info-item">
                        <select>
                            <option value="#">Training</option>
                        </select>
                    </li>
                    <li class="main-page__info-item">
                        <select>
                            <option value="#">Training</option>
                        </select>
                    </li>
                </ul>
            </li>
            <li class="main-page__item">
                <a class="main-page__item-edit" href="edit-training.html">
                    <svg>
                        <use xlink:href="/static/images/icons.svg#icon-pencil" />
                    </svg>
                </a>

                <ul class="main-page__info-list">
                    <li class="main-page__info-item">
                        Administrator
                    </li>
                    <li class="main-page__info-item">
                        Store manager
                    </li>
                    <li class="main-page__info-item">
                        <select>
                            <option value="#">Training</option>
                        </select>
                    </li>
                    <li class="main-page__info-item">
                        <select>
                            <option value="#">Training</option>
                        </select>
                    </li>
                    <li class="main-page__info-item">
                        <select>
                            <option value="#">Training</option>
                        </select>
                    </li>
                    <li class="main-page__info-item">
                        <select>
                            <option value="#">Training</option>
                        </select>
                    </li>
                </ul>
            </li>
            <li class="main-page__item">
                <a class="main-page__item-edit" href="edit-training.html">
                    <svg>
                        <use xlink:href="/static/images/icons.svg#icon-pencil" />
                    </svg>
                </a>

                <ul class="main-page__info-list">
                    <li class="main-page__info-item">
                        Administrator
                    </li>
                    <li class="main-page__info-item">
                        Store manager
                    </li>
                    <li class="main-page__info-item">
                        <select>
                            <option value="#">Training</option>
                        </select>
                    </li>
                    <li class="main-page__info-item">
                        <select>
                            <option value="#">Training</option>
                        </select>
                    </li>
                    <li class="main-page__info-item">
                        <select>
                            <option value="#">Training</option>
                        </select>
                    </li>
                    <li class="main-page__info-item">
                        <select>
                            <option value="#">Training</option>
                        </select>
                    </li>
                </ul>
            </li>
            <li class="main-page__item">
                <a class="main-page__item-edit" href="edit-training.html">
                    <svg>
                        <use xlink:href="/static/images/icons.svg#icon-pencil" />
                    </svg>
                </a>

                <ul class="main-page__info-list">
                    <li class="main-page__info-item">
                        Administrator
                    </li>
                    <li class="main-page__info-item">
                        Store manager
                    </li>
                    <li class="main-page__info-item">
                        <select>
                            <option value="#">Training</option>
                        </select>
                    </li>
                    <li class="main-page__info-item">
                        <select>
                            <option value="#">Training</option>
                        </select>
                    </li>
                    <li class="main-page__info-item">
                        <select>
                            <option value="#">Training</option>
                        </select>
                    </li>
                    <li class="main-page__info-item">
                        <select>
                            <option value="#">Training</option>
                        </select>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</main>
{% endblock content %}

